<section>
  <h1>Todo List</h1>
</section>

<section class="phx-hero">
  <ol>
    <%= for task <- @tasks do %>
    <li><%= task.title %></li>
    <% end %>
   </ol>
</section>

<form action="#" phx-submit="add">
  <%= text_input :task, :title, placeholder: "Add tasks here!" %>
  <%= submit "Add", phx_disable_with: "Adding..." %>
</form>